@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

.font-number {
  font-family: "Stardos Stencil", sans-serif;
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-balance {
  text-wrap: balance;
}

.logo-link {
  text-decoration: none;
  font-family: "Allura", cursive;
}

.detail-content * {
  max-width: 100%;
  font-size: 18px;
}
.detail-content img {
  width: auto;
  height: auto;
  object-fit: cover;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.detail-content ol,
.detail-content ul {
  margin: 1rem 0 1rem 2rem;
}
.detail-content ul {
  list-style-type: disc;
}
.detail-content ol {
  list-style-type: decimal;
}
.detail-content a {
  color: #0070f0;
}
.detail-content h1,
.detail-content h2,
.detail-content h3,
.detail-content h4,
.detail-content h5,
.detail-content h6 {
  font-size: 24px;
  margin: 1rem 0;
  color: rgb(31 41 55);
  font-weight: 600;
  line-height: 2rem;
}

.listBoxItem .truncate {
  white-space: wrap !important;
}
.listBoxItem.active {
  color: #7828c8;
}
.text-after::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 102%;
  height: 50%;
  z-index: -1;
  background-color: #7828c833;
}
